@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
	font-family: "Inter", sans-serif;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1000px;
}

nav ol {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	list-style: none;
	gap: 35px;
}

ol a {
	text-decoration: none;
	color: #5e607a;
}

.mainarticle {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 50%;
}

.mainarticle h2 {
    font-weight: 800;
    padding-top: 35px;
    margin: 0px;
    font-size: 56px;
    color: #00001A;
    line-height: 0.8;
}

.mainarticle p {
	color: #5e607a;
}

.readmore {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	letter-spacing: 5px;
	border: none;
	background-color: #f15d51;
	outline-color: green;
	outline-width: 9px;
    width: max-content;
    color: #00001A;
}

.buttonp {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: max-content;
    gap: 15px;
    padding-top: 15px;
    line-height: 1.8;
}

.bottommainarticle {
    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 17px;
}

.forecast {
  margin: 0;
  padding: 0.3rem;
  background-color: #00001A;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.forecast > h3,
.day-forecast {
  margin: 0.5rem;
  padding: 0.3rem;
  font-size: 1.2rem;
  color: #E9AA52;
}

.day-forecast {
  color: #FFFFFF;
}

.day-forecast > h4,
.day-forecast > p {
  margin: 0.2rem;
  font-size: 1rem;
}

hr {
  width: 75%
}

.up {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
}

footer {
    padding-top: 150px;
}

.footer h3 {
    font-size: 32px;
    color: #F15D51;
    margin: 0px;
}

.footer h4 {
    font-size: 18px;
    margin: 0px;
    color: #00001A;
    font-weight: 800;
}

.footer p {
    margin: 0px;
    color: #5e607a;
}

.motion {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 13px;
    width: 25%;
}

